{"openapi":"3.0.0","info":{"title":"Email address verification","description":"This API verifies the validity of email addresses","contact":{"name":"Maxim Burgerhout","url":"https://www.wzzrd.com","email":"maxim@wzzrd.com"},"license":{"name":"something legal","url":"https://www.wzzrd.com"},"version":"0.4.4","termsOfService":"https:///www.wzzrd.com/tos","x-badges":[{"name":"env","value":"dev"},{"name":"security","value":"medium"},{"name":"region","value":"global"}],"x-category":"Other","x-collections":["Today's top APIs"],"x-long-description":"Use this API to syntactically validate email address","x-public":false,"x-thumbnail":"https://en.gravatar.com/userimage/3149428/abb6f0635c488a6833a4966c9cff4ea2.jpeg","x-version-lifecycle":"active","x-website":"https://100things.wzzrd.com"},"servers":[{"url":"https://gw.rapid.wzzrd.com/"}],"paths":{"/v1/deep_validate":{"post":{"summary":"Deep validation of a single email address","description":"Returns a JSON object containing information on validity of email address, and the components of that address.","operationId":"Deep validate email address","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifiedEmail"}}}}},"security":[{"OAuth2 Authorization":[]},{"OAuth2 Authorization":["email_validation"]}]}},"/v1/validate":{"post":{"summary":"Simple validation of a single email address","description":"Returns a JSON object containing information on validity of email address, and the components of that address.","operationId":"Validate email address","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Email"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifiedEmail"}}}}}}}},"components":{"securitySchemes":{"OAuth2 Authorization":{"type":"oauth2","flows":{"clientCredentials":{"refreshUrl":null,"tokenUrl":"https://gw.rapid.wzzrd.com/oauth2/token","scopes":{"email_validation":"email_validation"}}},"description":"Allow or prevent access to this valuable API"}},"schemas":{"Email":{"description":"The email address to be checked","type":"object","properties":{"address":{"description":"The email address as a string","type":"string"}},"required":["address"]},"VerifiedEmail":{"description":"The verification results","type":"object","properties":{"address":{"description":"The supplied email address","type":"string"},"domain":{"description":"The domain part of the supplied email address","type":"string"},"is_valid_syntax":{"description":"Boolean indicating whether the supplied email address is syntactically valid","type":"boolean"},"username":{"description":"The username part of the supplied email address","type":"string"}},"required":["address","domain","is_valid_syntax","username"]}}},"tags":[{"name":"v1","description":"Version 1 endpoints","externalDocs":{"description":"Upstream repo","url":"https://100things.nontoonyt.com/gogs/wzzrd/email_validator"}}],"x-documentation":{"readme":"# Email validation API in Rust\n\nThanks for using our API! This is an API I run for demo purposes only. It is an experimental body of code, with many \nrapidly moving and changing parts.\n\nThis API will break often and badly until I declare 1.0, which can take a long time :)\n\n## How to use\n\nIt's a simple API. Just pass it an email address like so\n\n```\nhttps POST https://url_to_api/v1/validate address=maxim@wzzrd.com\n\n```\n\n## Contact\n\nDrop me a message on Twitter to discuss at @MaximBurgerhout\n\n## Feature requests\n\nThe roadmap is available in the git repo as `ROADMAP.md`.","spotlights":[{"description":"The Rust crate this API is built on","link":"https://github.com/reacherhq/check-if-email-exists","title":"paperclip-rs"},{"description":"The GitHub repo for this API","link":"https://github.com/wzzrd/email_validator","title":"GitHub repo"}],"tutorials":[{"description":"# How to call this API\n\n## Examples\n\nUsing `httpie`:\n```\nhttps POST https://your_gateway.com/v1/validate address=some_mail_address@outlook.com\n```\n\nUsing `curl`:\n```\ncurl -X POST https://your_gateway.com/v1/validate --data address=some_mail_address@outlook.com\ncurl -X POST --url https://your_gateway.com/v1/validate --header \"content-type: application/json\" \\\n  --data '{\"address\": \"some_mail_address@outlook.com\"}'\n```\n\nExample response:\n```\n{\n    \"address\": \"some_mail_address@outlook.com\",\n    \"domain\": \"outlook.com\",\n    \"is_valid_syntax\": true,\n    \"username\": \"some_mail_address\"\n}\n```","link":"https://images.pexels.com/photos/965345/pexels-photo-965345.jpeg","title":"How to call this API"},{"description":"# Roadmap\n\n## Short term\n\n1. Clean up code\n2. Document code\n3. Define stable interface\n\n## Mid term\n\n1. Add endpoint that validates \"deeper\", like whether MX records exist\n\n## Long term\n\n1. Add other validation options, like for DNS records","link":"https://img.freepik.com/free-vector/gradient-roadmap-infographic-template_23-2149014238.jpg","title":"Our roadmap"}]},"x-gateways":[{"url":"gw.rapid.wzzrd.com"}]}